* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/li-zhang-K-DwbsTXliY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* spotlight section */
.form_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input__container {
  opacity: 1;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  width: 600px;
  height: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.form_input__container.trans {
  display: none;
}
.material-symbols-outlined {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
}

.form_input__whatName {
  font-size: 22px;
  color: #000;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 10px;
}
.push {
}
.form_input__whatName::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.output {
  font-size: 80px;
  font-weight: 700;
  transform: translate(0, 0);
  transition: transform 1s;
}
.outputValue {
  font-size: 24px;
  font-weight: 300;
  transform: translate(0, 0);
  transition: transform 1s;
}
.output.show {
  transform: translate(130px, -20px);
  color: #fff;
}
.outputValue.show {
  transform: translate(-98px, 35px);
  color: #fff;
}
/* DockBar section */
.dockBar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  height: 85px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.dockBar .dockBar__time,
.dockBar .dockBar__weather,
.dockBar .dockBar__todolist {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin: 0 10px;
  border: none;
}
.dockBar .dockBar__time:hover,
.dockBar .dockBar__weather:hover,
.dockBar .dockBar__todolist:hover {
  border: 2px solid #888888;
}
.dockBar .dockBar__time {
  background: url("../images/clock.svg");
}
.dockBar .dockBar__weather {
  background: url("../images/weather.svg");
}
.dockBar .dockBar__todolist {
  background: url("../images/calendar.svg");
}
.dockBar_timeScreen {
  position: absolute;
  top: 75px;
  right: 0;
  width: 500px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}
.dockBar_timeScreen.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
}
.time-display {
  font-size: 100px;
  font-style: italic;
  color: #fff;
}
